.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.logo-animation {
  animation: spin 3s infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(45deg) scale(1.2);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  75% {
    transform: rotate(-45deg) scale(1.2);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.logo-rotate {
  animation: rotate 1s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
