<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div
    class="arrow arrowUp"
    [innerHTML]="arrowIcon"
    (click)="toggleNorthPanel()"
  ></div>
  <div
    class="arrow arrowDown"
    [innerHTML]="arrowIcon"
    (click)="toggleSouthPanel()"
  ></div>
  <div
    class="arrow arrowLeft"
    [innerHTML]="arrowIcon"
    (click)="toggleWestPanel()"
  ></div>
  <div
    class="arrow arrowRight"
    [innerHTML]="arrowIcon"
    (click)="toggleEastPanel()"
  ></div>
  <app-north-panel
    (toggleNorthPanel)="toggleNorthPanel()"
    [showNorthPanel]="showNorthPanel"
  ></app-north-panel>
  <div #southPanel class="southPanel">
    <div
      class="arrow arrowDown"
      [innerHTML]="arrowIcon"
      (click)="toggleSouthPanel()"
    ></div>
  </div>
  <div #eastPanel class="eastPanel">
    <div
      class="arrow arrowRight"
      [innerHTML]="arrowIcon"
      (click)="toggleEastPanel()"
    ></div>
  </div>
  <div #westPanel class="westPanel">
    <div
      class="arrow arrowLeft"
      [innerHTML]="arrowIcon"
      (click)="toggleWestPanel()"
    ></div>
  </div>
  <div class="logo-container">
    <div
      #logo
      class="logo logo-animation"
      [innerHTML]="saladIcon"
      (click)="toggle()"
    ></div>
  </div>
</div>

<router-outlet></router-outlet>
