.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  width: 100px;
  height: 100px;
  cursor: pointer;
  fill: #f8857e;
}

.arrow:hover {
  fill: #e6665f;
}

.arrowUp {
  transform: translateX(-50%) rotate(180deg);
  position: absolute;
  top: 10px;
  left: 50%;
}
.arrowDown {
  transform: translateX(-50%);
  position: absolute;
  bottom: 10px;
  left: 50%;
}
.arrowLeft {
  transform: translateY(-50%) rotate(90deg);
  position: absolute;
  left: 10px;
  top: 50%;
}
.arrowRight {
  transform: translateY(-50%) rotate(-90deg);
  position: absolute;
  right: 10px;
  top: 50%;
}

.header {
  background: linear-gradient(to left, #135825, #333);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  //   text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  animation: headerIntro 1s;
}

@keyframes headerIntro {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
  }
}

.logo {
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-animation {
  animation: spin 3s infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(45deg) scale(1.2);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  75% {
    transform: rotate(-45deg) scale(1.2);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.logo-rotate {
  animation: rotate 1s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//NORTHPANEL

.northPanel {
  display: flex;
  padding: 50px;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  width: 100%;
  height: 0%;
  top: -100%;
  box-shadow: 0px 4px 13px rgba(84, 84, 84, 0.3);
  background: linear-gradient(to right bottom, #f7797d, #fbd786, #c6ffdd);
}

.northPanel > .arrowUp {
  top: auto;
  bottom: 10px;
}

.northPanel--show {
  animation: showNorthPanel 0.5s;
  animation-fill-mode: forwards;
}

@keyframes showNorthPanel {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
    height: 100%;
  }
}

.northPanel--hide {
  animation: hideNorthPanel 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes hideNorthPanel {
  0% {
    top: 0;
    height: 100%;
  }
  100% {
    top: -100%;
    height: 0%;
  }
}

//SOUTHPANEL

.southPanel {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  width: 100%;
  height: 0%;
  top: 0;
  box-shadow: 0px 4px 13px rgba(84, 84, 84, 0.3);
  background: linear-gradient(to right bottom, #f7797d, #fbd786, #c6ffdd);
}

.southPanel > .arrowDown {
  top: 10px;
  bottom: auto;
}

.southPanel--show {
  animation: showSouthPanel 0.5s;
  animation-fill-mode: forwards;
}

@keyframes showSouthPanel {
  0% {
    top: 100%;
    height: 0%;
  }
  100% {
    top: 0%;
    height: 100%;
  }
}

.southPanel--hide {
  animation: hideSouthPanel 0.5s;
  animation-fill-mode: forwards;
}

@keyframes hideSouthPanel {
  0% {
    top: 0vh;
    height: 100vh;
  }
  100% {
    top: 100vh;
    height: 0vh;
  }
}

//EASTHPANEL

.eastPanel {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  width: 0%;
  height: 100%;
  left: 100%;
  box-shadow: 0px 4px 13px rgba(84, 84, 84, 0.3);
  background: linear-gradient(to right bottom, #f7797d, #fbd786, #c6ffdd);
}

.eastPanel > .arrowRight {
  right: auto;
  left: 10px;
}

.eastPanel--show {
  animation: showEastPanel 0.5s;
  animation-fill-mode: forwards;
}

@keyframes showEastPanel {
  0% {
    left: 100%;
    width: 0%;
  }
  100% {
    left: 0%;
    width: 100%;
  }
}

.eastPanel--hide {
  animation: hideEastPanel 0.5s;
  animation-fill-mode: forwards;
}

@keyframes hideEastPanel {
  0% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}

//WESTHPANEL

.westPanel {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  width: 0%;
  height: 100%;
  right: 100%;
  box-shadow: 0px 4px 13px rgba(84, 84, 84, 0.3);
  background: linear-gradient(to right bottom, #f7797d, #fbd786, #c6ffdd);
}

.westPanel--show {
  animation: showWestPanel 0.5s;
  animation-fill-mode: forwards;
}

.westPanel > .arrowLeft {
  right: 10px;
  left: auto;
}

@keyframes showWestPanel {
  0% {
    right: 100%;
    width: 0%;
  }
  100% {
    right: 0%;
    width: 100%;
  }
}

.westPanel--hide {
  animation: hideWestPanel 0.5s;
  animation-fill-mode: forwards;
}

@keyframes hideWestPanel {
  0% {
    right: 0%;
    width: 100%;
  }
  100% {
    right: 100%;
    width: 0%;
  }
}
