/* You can add global styles to this file, and also import other style files */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: -webkit-linear-gradient(
    to right bottom,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right bottom,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.svgBoxShadow {
  filter: drop-shadow(0 1px 5px gray);
}

.arrowShadow {
  filter: drop-shadow(0 1px 5px #f8857e);
}
